DATABASE_URL=postgres://{database_user}:{password}@localhost:{port}/{database_name}
SALT= 
PORT= 2025
JWT_SECRET="Some secret keys"
SENDGRID_FROM=
SENDGRID_API_KEY=


# SMTP_EMAIL=
# SMTP_PASS=


# SMTP_HOST=
# SMTP_PORT=
# SMTP_SECURE=