form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 700px;
  max-height: 70vh;
  margin: 4rem auto;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 3rem;
}

input {
  padding: 10px 15px;
  width: 100%;
}
div.authLinkContainer {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  justify-content: space-between;
}
.authLink {
  color: dodgerblue;
}
button {
  padding: 10px 15px;
  width: 100%;
  background-color: blue;
  color: white;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}