.appContent {
  display: flex;
  justify-content: space-between;
  margin-top: 8rem;
}
.lead {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
.bottomApp {
  font-size: 20px;
}
.img {
  width: 95%;
}
.tra {
  color: #7d7987;
}
.btn {
  padding: 10px 35px;
  margin-top: 3rem;
  border-radius: 2rem;
  color: #4a90e2;
  border: #4a90e2 solid 2px;
  cursor: pointer;
}
.lines {
  border: none;
  border-top: 2px solid #333;
  width: 40px;
  margin: 16px 0 0 0; /* top margin, no left/right auto */
  display: block;
  text-align: left; /* not required for hr, but fine */
}

@media screen and (max-width: 768px) {
  .appContent {
    flex-direction: column-reverse;
    align-items: center;
  }
  .lead {
    text-align: center;
    margin-top: 2rem;
  }
  .bottomApp {
    flex: wrap;
  }
  .btn {
    width: 100%;
    text-align: center;
    margin: 2rem auto; /* centers horizontally and adds top margin */
  }
  .lines {
    margin: 16px auto 0 auto; /* top margin, auto left/right centers it */
    display: block;
  }
}