* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --bg: #f0f0f0;
  --text-color: #111111;
  --font: "Mulish", sans-serif;
}
body {
  background-color: var(--bg);
  color: var(--text-color);
  font-family: var(--font);
  
  font-size: 16px;
  line-height: 1.5;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
li{
  list-style: none;
}
/* .container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 2rem;
} */