* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  --bg: #fff;
  --text-color: #111111;
  font-family: Mulish;
  padding: 0 !important;
}
body {
  background-color: var(--bg);
  color: var(--text-color);
  line-height: 1.5;
  font-size: 16px;
}
a {
  font-weight: 500;
  color: inherit;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  padding: 0 2rem;
  max-width: 1300px;
  margin: 0 auto;
}
li {
  list-style: none;
}
